
body {
    background: #368108;
    font-family: Arial;
}
h1 {
    color: red;
}
/* CJvrx5gE3cyDPl5L6TJHzTDqKv1pELFzosYt754Txvn5Sg5h1PPHIAU2xtO9jhS7jpr69PWoxeE7M8CCn4akeH2DwcwusmN1PT7wOw7S0DNiScdFNkmOdoJSb0FWYNLBASL482KmSzOHzhECV6k5I3UC8ye02JgLigsEU9FFJKQoRbmCv5c37CLdMTLGJtgBZEj9HKey */
